# PostgreSQL
POSTGRES_USER=orderflow
POSTGRES_PASSWORD=orderflow
POSTGRES_DB=orderflow
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Kafka
KAFKA_PORT=9092
KAFKA_UI_PORT=8080

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=orderflow
RABBITMQ_PASSWORD=orderflow
